body {
    font-family: JetBrains Mono, sans-serif;
    background-color: wheat;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

h1 {
    font-size: 2.5rem;
}

.form-group {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button {
    background-color: darksalmon;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}